# Sample .env file with example values that can be used, note that many of these are not required
# for development purposes and have default values in the application. 

# Metriq
# Obtained at: https://metriq.info/Token
METRIQ_CLIENT_API_KEY="<METRIQ_CLIENT_API_KEY>"

# IBM
# Obtained at: https://quantum.ibm.com
QISKIT_IBM_TOKEN="<QISKIT_IBM_TOKEN>"

# Quantinuum
# Obtained at: https://um.qapi.quantinuum.com
QUANTINUUM_API_KEY="<QUANTINUUM_API_KEY>"

# IonQ
IONQ_API_KEY="<IONQ_API_KEY>"
