# Metriq
.metriq_gym_jobs.jsonl

# Sphinx
_build

# ruff
.ruff_cache/

# MacOS
.DS_Store

# VSCode
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv

# mypy
.mypy_cache/
