repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version (keep in sync with the version in pyproject.toml)
  rev: v0.7.3
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  # MyPy version (keep in sync with the version in pyproject.toml)
  rev: v1.13.0  
  hooks:
    - id: mypy
      name: mypy
      entry: ./check_mypy.sh
      language: system
      pass_filenames: false

