# This workflow will install Python dependencies, run tests and lint with Ruff and Poetry.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      with:
        submodules: recursive  # Ensures submodules are fetched

    - name: Install OpenCL (Qrack dependency)
      run: |
        sudo apt update
        sudo apt install ocl-icd-opencl-dev

    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"

    - name: Install Poetry
      run: |
        python -m pip install --upgrade pip
        pip install poetry

    - name: Initialize and update submodules
      run: |
        git submodule update --init --recursive

    - name: Install dependencies
      run: |
        poetry install --no-root

    - name: Lint with Ruff
      run: |
        poetry run ruff check

    - name: Type checking with MyPy
      run: |
        poetry run mypy --config-file pyproject.toml

    - name: Run tests with pytest
      run: |
        poetry run pytest
